---
layout: default
title: API
path: /api
icon: fa-cogs
description: Easy and Simple APIs with jsConvert.
scripts: [api]
sr: true
---

<h3 class="mt-2 mb-3">Available Methods</h3>

<h6>Convert String</h6>
<ul>
  <li ng-repeat="_ in apiConvertString" ng-cloak>
    <a href="{%raw%}{{'#' + _.method}}{%endraw%}" du-smooth-scroll>
      <code>{% raw %}{{_.method}}{% endraw %}</code>
    </a>
  </li>
</ul>

<h6>Convert Keys of Object</h6>
<ul>
  <li ng-repeat="_ in apiConvertKeysObject" ng-cloak>
    <a href="{%raw%}{{'#' + _.method}}{%endraw%}" du-smooth-scroll>
      <code>{% raw %}{{_.method}}{% endraw %}</code>
    </a>
  </li>
</ul>

<hr>

<div ng-repeat="_ in apiConvertString" ng-cloak class="my-5" id="{% raw %}{{_.method}}{% endraw %}">
  <h4>
    <a ng-href="#{% raw %}{{_.method}}{% endraw %}">{% raw %}{{_.method}}{% endraw %}</a>
  </h4>

  <p>{% raw %}{{_.description}}{% endraw %}</p>

  <pre ng-prism source="{% raw %}{{_.code}}{% endraw %}" class="language-js"></pre>
</div>

<hr>

<div ng-repeat="_ in apiConvertKeysObject" ng-cloak class="my-5" id="{% raw %}{{_.method}}{% endraw %}">
  <h4>
    <a ng-href="#{% raw %}{{_.method}}{% endraw %}">{% raw %}{{_.method}}{% endraw %}</a>
  </h4>

  <p>{% raw %}{{_.description}}{% endraw %}</p>

  <div class="row">
    <div class="col-12 col-lg-6 col-md-6">
      <pre ng-prism source="{% raw %}{{_.code}}{% endraw %}" class="language-js"></pre>
    </div>
    <div class="col-12 col-lg-6 col-md-6">
      <pre ng-prism source="{% raw %}{{_.output}}{% endraw %}" class="language-js"></pre>
    </div>
  </div>
</div>

<hr class="mt-5">

<!-- navigation -->
<div class="row">
  <div class="col-12 col-lg-6 col-md-6 text-center text-lg-left text-md-left mt-4 pl-4 scrollreveal">
    <a href="{{ site.baseurl }}/quickstart">
      <button class="btn btn-primary px-4">
        <i class="fa fa-arrow-left mr-2"></i>
        QuickStart
      </button>
    </a>
  </div>
  <div class="col-12 col-lg-6 col-md-6 text-center text-lg-right text-md-right mt-4 pr-4 scrollreveal">
    <a href="{{ site.baseurl }}/examples">
      <button class="btn btn-primary px-4">
        More Examples
        <i class="fa fa-arrow-right ml-2"></i>
      </button>
    </a>
  </div>
</div>