<footer style="margin-top: 60px">
  <div class="text-center jsc-footer">
    <div class="py-1">
      Made with <i class="fa fa-heart" style="color: rgb(255, 56, 56) !important;"></i> by <a class="jsc-link"
        href="//github.com/huynhsamha" target="_blank">
        <span>huynhsamha
        </span>
      </a>
    </div>
    <div class="py-1">
      <span>Copyright <i class="fa fa-copyright"></i> 2018</span>
      <span> | </span>
      <span>
        <a class="jsc-link" href="//github.com/huynhsamha/js-convert-case" target="_blank">
          <i class="fa fa-github"></i>
          <span>GitHub</span>
        </a>
        |
      </span>
      <span>
        <a class="jsc-link" href="//www.npmjs.com/package/js-convert-case" target="_blank">
          <span>NPM</span>
        </a>
      </span>
    </div>
  </div>
</footer>