---
layout: compress
---

<!DOCTYPE html>
<html lang="en" ng-app="jsConvertApp" ng-cloak ng-controller="CommonController">

  {% include head.html %}

  <body ng-controller="MainController">

    {% include header.html %}
    {% include jumbotron.html %}

    <div class="container jsc-first-block">
      {{ content }}

      <!-- banner -->
      <div class="text-center jsc-banner">
        <img src="{{ site.baseurl }}/img/banner.png" alt="Logo">
      </div>
    </div>

    <!-- scroll top -->
    <span id="scroll-top" ng-href="#header" du-smooth-scroll ng-show="showScrollTop">
      <i class="fa fa-caret-up"></i>
    </span>

    {% include footer.html %}
    {% include scripts.html %}

  </body>
</html>
